<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title th:text="${article.fileName}">没有名字的文章？</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet" />
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="blog.css" th:href="@{css/blog.css}" rel="stylesheet" />
</head>

<body>

<div class="blog-masthead" th:fragment="nav">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item" href="#">主页</a>
            <a class="blog-nav-item active" href="#">文章</a>
            <a class="blog-nav-item" href="#">留言</a>
            <a class="blog-nav-item" href="#">管理</a>
            <a class="blog-nav-item" href="#">关于</a>
        </nav>
    </div>
</div>

<div class="container">

    <div class="blog-header">
        <h2 class="blog-title" th:text="${article.fileName}" style="font-size: 40px;">没有文件名怎么办</h2>
        <p class="lead blog-description" th:text="${article.createTime}">某年某月与某日</p>
    </div>

    <div class="row">

        <!--/*@thymesVar id="articleList" type="java.util.List"*/-->
        <div class="col-sm-8 blog-main">

            <div th:utext="${articleHTML}" class="blog-post">
                兄弟，什么都没有怎么办……
            </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">

            <div class="sidebar-module sidebar-module-inset">
                <h4>关于</h4>
                <p>作为从C语言开始学起编程的弱鸡，我的直男审美已经无药可救了！而且和后端逻辑相比，HTML简直是要杀了我……所以说好想找能帮我写网页，拯救我审美的小姐姐啊……</p>
            </div>
            <div class="sidebar-module">
                <a th:href="@{/}" style="font-size: 20px;">返回主页</a>
            </div>
            <div class="sidebar-module">
                <h4>链接</h4>
                <ol class="list-unstyled">
                    <li><a href="https://github.com/">GayHub</a></li>
                </ol>
            </div>

        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->

<footer class="blog-footer" th:fragment="footer">
    <p>这网页就是拿 <a href="http://getbootstrap.com">Bootstrap</a>模板改的</p>
    <p>by <a href="http://weibo.com/MeteorInfinity">@Magician-MO</a>.</p>
    <p>
        <a href="#">回到顶部</a>
    </p>
</footer>


<!-- Bootstrap core JavaScript================================================== -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>
<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>
